@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">< NOTES ></h1>

    <hr/>
    <p>An ASP.NET MVC Application for storing notes.</p>
    <p>Please REGISTER an account to start using the application</p>




</div>
